{% extends 'base.html' %}
{% block title %}Update Medicine - Medicine Management{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-3 text-center">UPDATE MEDICINE</h1>
    <div class="card p-4 shadow">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_name" class="form-label">Name</label>
                {{ form.name }}
            </div>
            <div class="mb-3">
                <label for="id_description" class="form-label">Description</label>
                {{ form.description }}
            </div>
            <div class="mb-3">
                <label for="id_price" class="form-label">Price</label>
                {{ form.price }}
            </div>
            <div class="mb-3">
                <label for="id_expiry_date" class="form-label">Expiry Date</label>
                {{ form.expiry_date }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Update Medicine</button>
        </form>
        <a href="{% url 'medicine_list' %}" class="btn btn-secondary mt-3">Back to Medicine List</a>
    </div>
</div>
{% endblock %}
